<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Student</title>
  </head>
  <body>
<div class="container">
    <div class="content">
       <img src="logo.png" class="cld-responsive">
<link rel="stylesheet" href="create-student.css">
    <link rel="stylesheet" href="sample.css">
<h1 class="form-title">Create new student</h1>

    <form action="/students" method="POST" enctype="multipart/form-data">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br>
      
      <label for="enroll">Enroll</label>
      <input type="text" id="enroll" name="enroll"><br>
      
      <label for="gender">Gender</label>
      <input type="text" id="gender" name="gender"><br>
      
      <label for="age">Age:</label>
      <input type="number" id="age" name="age"><br>
      
      <label for="photo">Photo</label>
      <input type="file" id="photo" name="photo"><br>

      <label for="offerLetter">Offer Letter:</label>
      <input type="file" id="offerLetter" name="offerLetter"><br>
      
      <input type="submit" value="Create">
    </form>
</div>
  </body>
</html>
